content/test.csv
content/train.csv
content/Thyroid_Diff.csv
ЛР_3_Классификация_Пример_2_ipynb_.ipynb
ЛР4_Регрессия.ipynb
content/dataset_traffic_accident_prediction1.csv
content/taxi_trip_pricing.csv
ЛР5_Кластеризация.ipynb
ЛР1_Разведочный_анализ_и_предобработка_данных_ipynb_.ipynb
ЛР2_Классификация_ipynb_.ipynb
